.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    display: none;
    
  }
  .slick-dots li:before {
    top: 1px;
    transition: all 0.5s;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #e0e0e0;
    position: absolute;
    border-radius: 55px;
  }
  .slick-dots li.slick-active:before {
    top: 0;
    width: 6px;
    height: 6px;
    margin-left: -2px;
    background-color: #8a8a8a;
  }
  
  .slick-prev {
    left: -1%;
    transform: rotate(180deg);
  }
  
  .slick-next {
    right: -1%;
    margin-left: 15px;
  }
  
  .slick-arrow {
    top: 42%;
    height: 26px;
    width: 14px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url(https://tarkikromanski.github.io/files/arrow-slider.png);
    background-repeat: no-repeat;
    filter: invert(30%);
  }
  .slickc {
    color: #ffffff;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .image-container canvas {
    width: 100%;
    height: 450px;
    object-fit: cover;
    box-shadow: 0px 0px 8px 1px #457184 inset;
    object-position: bottom;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.685) 54%, rgba(0, 0, 0, 0) 100%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .overlay h3,
  .overlay p {
    margin: 0;
  }
  
  .overlay h3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .overlay p {
    font-size: 13px;
  }